<main class="container">
	<section class="row">
		<div class="col-12">
			<h2 class="centered-text">Safety Check Harvest Time!</h2>
		</div>
	</section>
	<!-- Row of form columns -->
	<section class="row">
		<div class="col-4">
			<h3>Clients</h3>
			<!-- START FORM!!!!!! -->
			<%= form_tag select_path, method: 'post' do %>
    		<select name="client">
    			<% @activeclients.each do |client| %>
					<option value="<%= client %>"><%= client %></option>	
				<% end %>
			</select>
		</div>

		<div class="col-3">
			<h3>Tasks</h3>
    		<select name="task">
				<% @activetasks.each_with_index do |task, i| %>
						<option value="<%= task %>"><%= task %></option>	
				<% end %>
			</select>
		</div>

		<div class="col-5">
			<h3>Start Date----------End Date</h3>
    		<select name="start_month">
    			<% ['January', 'February', 'March', 'April', 'May','June','July','August','September','October', 'November', 'December'].each_with_index do |month, i| %>
					<option value="<%= i + 1 %>"><%= month %></option>	
				<% end %>
			</select>
			<select name="start_day">
				<% 1.upto(31) do |day| %>
					<option value="<%= day %>"><%= day %></option>	
				<% end %>
			</select>
			<select name="start_year">
				<% ['2013', '2014', '2015'].each do |year| %>
					<option value="<%= year %>"><%= year %></option>	
				<% end %>
			</select>
    		<select name="end_month">
    			<% ['January', 'February', 'March', 'April', 'May','June','July','August','September','October', 'November', 'December'].each_with_index do |month, i| %>
					<option value="<%= i + 1 %>"><%= month %></option>	
				<% end %>
			</select>
			<select name="end_day">
				<% 1.upto(31) do |day| %>
					<option value="<%= day %>"><%= day %></option>	
				<% end %>
			</select>
			<select name="end_year">
				<% ['2013', '2014', '2015'].each_with_index do |year, i| %>
					<option value="<%= year %>"><%= year %></option>	
				<% end %>
			</select>
			<%= submit_tag %>
    		<% end %>
    		<!-- END FORM!!!!!! -->
		</div>
	</section>
</main>
